.hex-tile
{   
    pointer-events: all;
    /* 1.73205080757 */
    --side: 32px;
    --height: calc(var(--side) * 1.73205);
    --width: calc(var(--side) * 2);

    width:          var(--width);
    height:         var(--height);

    background-color: hotpink;

    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0px;

    font-size: 1rem;
    color: white;

    /* ? */
    border-radius: 8PX;

}

.hex-tile.state-default.color-1
{
    background-color: #F4A460;
}
.hex-tile.state-default.color-2
{
    background-color: #CD853F;
}
.hex-tile.state-default.color-3
{
    background-color: #A0522D;
}




.hex-tile:hover
{
    background-color: gold;
}

.hex-tile:active
{
    background-color: mediumseagreen;
}






.hex-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
    pointer-events: none;

}

.hex-icon
{
    width: 50%;
    height: 50%;
}

/*
.hex-column:nth-child(1)
{
    left: +64px;
    z-index: 1;
}
.hex-column:nth-child(2)
{
    left: +32px;
    z-index: 1;
}
.hex-column:nth-child(4)
{
    left: -32px;
    z-index: 1;
}.hex-column:nth-child(5)
{
    left: -64px;
    z-index: 1;
}
*/

    /*
    background: 
    conic-gradient(
        red 0deg,
        red 30deg,
        blue 31deg,
        blue 90deg,
        green 91deg,
        green 150deg,
        purple 151deg,
        purple 210deg,
        hotpink 211deg,
        hotpink 270deg,
        gold 271deg,
        gold 330deg,
        red 331deg
    );
    */



.App
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -32px;
}